<!DOCTYPE html>
<html lang="en" style="height:100%" >

<head>
  <meta charset="UTF-8">
</head>
<body style="height:100%">
<link rel="stylesheet" href="jquery-ui.min.css"/>
<link rel="stylesheet" href="bootstrap/bootstrap.css">
<link rel="stylesheet" href="checkbox.css" />
<link rel="stylesheet" href="checkbox2.css" />
<link rel="stylesheet" href="rangeslider.css">
<link rel="stylesheet" href="togglebutton.css">
<link rel="stylesheet" href="ui.css" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <div id="msgLoader"></div>
    <!--LOADER-->
    <div class='loader-ring'>
        <div class='loader-ring-light'></div>
        <div class='loader-ring-track'></div>

    </div>

            <div ng-app="miniapp" ng-controller="Ctrl" id="maincontainer">
                <ul id="accounts">
                    <li id="toolbar">
                        <i class="fas fa-users"></i>
                        <i class="fas fa-shield-alt"></i>
                   </li>
                    <li id="addAccount"><span class="far fa-plus-square"></span>Ajouter un compte</li>
                    <li ng-class="{'selected':acc.config.nomDuCompte == currentConfig.nomDuCompte}" onclick="accountClick(this)" ng-repeat="acc in bots"  ng-if="acc" class="account" id="{{acc.config.nomDuCompte}}"><span>{{acc.config.nomDuCompte}}</span><i onclick="connectBot(this)" class="fas fa-plug btnConnectGame statut{{acc.status.connexion}}"></i><p >{{acc.Etat}}</p></li>
                </ul>

                <!--BOT PANEL-->
                <div id="botPanel">
                    <!--TAB-->
                    <ul class="nav nav-pills" id="tabsBot" role="tablist">
                        <li class="nav-item connectTab">
                            <a class="nav-link" id="tab-perso" data-toggle="pill" href="#onglet-perso" role="tab" aria-controls="onglet-perso" aria-selected="true">Personnage</a>
                        </li>
                        <li class="nav-item connectTab">
                            <a class="nav-link" id="tab-trajet" data-toggle="pill" href="#onglet-trajet" role="tab" aria-controls="onglet-trajet" aria-selected="false">Trajet</a>
                        </li>
                        <li class="nav-item connectTab">
                            <a class="nav-link" id="tab-inventaire" data-toggle="pill" href="#onglet-inventaire" role="tab" aria-controls="onglet-inventaire" aria-selected="false">Inventaire</a>
                        </li>
                        <li class="nav-item connectTab">
                            <a class="nav-link" id="tab-combat" data-toggle="pill" href="#onglet-combat" role="tab" aria-controls="onglet-combat" aria-selected="false">Combat</a>
                        </li>
                        <li class="nav-item connectTab">
                            <a class="nav-link" id="tab-chat" data-toggle="pill" href="#onglet-flood" role="tab" aria-controls="onglet-flood" aria-selected="false">Chat/Flood</a>
                        </li>
                        <li class="nav-item connectTab">
                            <a class="nav-link" id="tab-metier" data-toggle="pill" href="#onglet-metier" role="tab" aria-controls="onglet-metier" aria-selected="false">Métiers</a>
                        </li>
                        <li class="nav-item connectTab">
                            <a class="nav-link" id="tab-stats" data-toggle="pill" href="#onglet-stats" role="tab" aria-controls="onglet-stats" aria-selected="false">Statistiques</a>
                        </li>
                        <li class="nav-item unconnectTab">
                            <a class="nav-link" id="tab-compte" data-toggle="pill" href="#onglet-compte" role="tab" aria-controls="onglet-compte" aria-selected="false">Mon compte</a>
                        </li>
                        <li class="nav-item unconnectTab">
                            <a class="nav-link" id="tab-proxy" data-toggle="pill" href="#onglet-proxy" role="tab" aria-controls="onglet-proxy" aria-selected="false">Proxy</a>
                        </li>

                    </ul>

                    <!--TABCONTENT-->
                    <div class="tab-content" id="ongletsBot">
                        <!--PERSONNAGE-->
                        <div class="tab-pane fade show active" id="onglet-perso" role="tabpanel" aria-labelledby="Personnage">
                            <div class="topBarPerso row"><coord class="col-sm-2">[{{bot.map.position}}]<i class="fas fa-map-marker-alt"></i></coord><t class="col-sm-7">{{bot.monNom}}</t> </div>
                            <div id="map">
                                <div id="tooltip"></div>
                                <canvas style="margin-left: -40px;" id="mapStatus"></canvas>
                            </div>
                            <!--PROGRESSBAR-->
                            <div class="progressContainer">
                                Vie:
                                <div class="progress" style="margin-bottom:5px;">
                                    <vita class="progress-bar  bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{vieRestante}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vieRestante}}%"><label style="width:180px;color:black">{{vieRestante}}%</label></vita>
                                </div>
                                Experience:
                                <div class="progress">
                                    <exp class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{exp}}" aria-valuemin="0" aria-valuemax="100" style="width: {{exp}}%"><label style="width:180px;color:black">Niveau {{bot.myCharacter.level}} ({{exp}}%)</label></exp>
                                </div>
                                <i class="fas fa-coins" style="margin-top:5px; margin-right:5px; color:gold"></i>{{bot.InfosPerso.Kamas}}

                            </div>
                            <!--STATS-->
                            <div class="statsContainer">
                                <!--CARACTERISTIQUES-->
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col" style="display:inline-grid;">
                                        <label>Point de capitale: {{bot.InfosPerso.BonusPoints}}</label>
                                        <div class="caractMain">
                                            <caract>
                                                <img src="image/pa.png" />
                                                <label style="color:cornflowerblue">{{bot.InfosPerso.Statistique.pa.current}}</label>
                                            </caract>
                                            <caract>
                                                <img src="image/pm.png" />
                                                <label style="color:darkseagreen">{{bot.InfosPerso.Statistique.pm.current}}</label>
                                            </caract>
                                            <caract>
                                                <img src="image/po.png" />
                                                <label style="color:orange">{{bot.InfosPerso.Statistique.porte.current}}</label>
                                            </caract>
                                            <caract>
                                                <img src="image/invoc.png" />
                                                <label style="color:blueviolet">{{bot.InfosPerso.Statistique.invoc.current}}</label>
                                            </caract>
                                        </div>

                                        <caract>
                                            <img src="image/intelligence.png" />
                                            <label>{{bot.InfosPerso.Statistique.feu.current}}</label>
                                            <i class="fas fa-plus"></i>
                                        </caract>
                                        <caract>
                                            <img src="image/force.png" />
                                            <label>{{bot.InfosPerso.Statistique.terre.current}}</label>
                                            <i class="fas fa-plus"></i>
                                        </caract>
                                        <caract>
                                            <img src="image/chance.png" />
                                            <label>{{bot.InfosPerso.Statistique.eau.current}}</label>
                                            <i class="fas fa-plus"></i>
                                        </caract>
                                        <caract>
                                            <img src="image/agilite.png" />
                                            <label>{{bot.InfosPerso.Statistique.air.current}}</label>
                                            <i class="fas fa-plus"></i>
                                        </caract>
                                        <caract>
                                            <img src="image/sagesse.png" />
                                            <label>{{bot.InfosPerso.Statistique.sagesse.current}}</label>
                                            <i class="fas fa-plus"></i>
                                        </caract>
                                        <caract>
                                            <img src="image/vitalite.png" />
                                            <label>{{bot.InfosPerso.Statistique.vie.current}}</label>
                                            <i class="fas fa-plus"></i>
                                        </caract>
                                        <div class="form-row align-items-center">
                                            <label for="autoboost" style="margin-bottom: 33px;margin-right: 6px;">Autoboost: </label>
                                            <select id="autoboost" class="form-control">
                                                <option></option>
                                                <option>Intelligence</option>
                                                <option>Chance</option>
                                                <option>Agilité</option>
                                                <option>Force</option>
                                                <option>Sagesse</option>
                                                <option>Vitalité</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--SORTS-->
                                    <div class="col" style="display:inline-grid;">
                                        <label>Point de sort: {{bot.InfosPerso.BonusPointsSpell}}</label>
                                        <div class="row" style="margin: auto;padding-top: 5px;padding-bottom: 5px;">
                                            <label>Position : </label>
                                            <select ng-model="currentConfig.startPlacement" id="positionFight">
                                            <option value="Proche">Proche</option>
                                            <option value="Eloignée">Eloignée</option>
                                            <option value="Hasardeux">Hasardeux</option>
                                            <option value="Fixe">Fixe</option>
                                            </select>
                                            <label>Type : </label>
                                            <select ng-model="currentConfig.iaType"  id="iaType">
                                                <option value="Bourrin">Bourrin</option>
                                                <option value="Reflechie">Reflechie</option>
                                            </select>
                                        </div>
                                        <ul class="list-group" id="grilleSort">
                                            <li class="list-group-item" spellid="{{spell.Key}}" ng-repeat="spell in spellsList.SpellsList">
                                                <div class="row">
                                                    <div class="col spellInfos">
                                                        <strong>{{spell.name}}</strong>
                                                        <p>Niveau {{spell.Value}}</p>
                                                    </div>
                                                     <div class="col">
                                                        <input spellid="{{spell.Key}}" type="number" minvalue="0" class="form-control" placeholder="Prioritée" value="{{spell.priorite}}" />
                                                    </div>
                                                </div>
                                               
                                            </li>
                                        </ul>

                                        <div class="form-row align-items-center">
                                            <label for="autoboostSpell" style="margin-bottom: 33px;margin-right: 6px;">Autoboost: </label>
                                            <select id="autoboostSpell" class="form-control">
                                                <option spellid="0"></option>
                                                <option spellid="{{spell.Key}}" ng-repeat="spell in spellsList.SpellsList">{{spell.name}}</option>
                                            </select>
                                        </div>
                                   
                                   </div>

                            </div>
                        </div>
                       </div>

                        <!--TRAJET-->
                        <div class="tab-pane fade" id="onglet-trajet" role="tabpanel" aria-labelledby="Trajet">
                            <div id="containerTrajet">
                                <div id="optionTrajet">
                                    <div class="exp" style="margin-bottom: 30px;">
                                        <div class="checkbox">
                                            <form>
                                                <div>
                                                    <input type="checkbox" ng-checked="currentConfig.onlyRessource"  id="check" name="check" value="" />
                                                    <label for="check">
                                                        <span></span>Déposer uniquement les ressources en banque
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div style="display:flex;width:fit-content;margin-bottom: 30px;">
                                        <label for="retourBanque">Retour en banque  à</label>
                                        <input type="number" id="retourBanque" minvalue="0" class="form-control" ng-model="currentConfig.PodsReturnBank" />
                                        <label for="retourBanque">% de pods</label>
                                    </div>
                                    <div style="display:flex;width:fit-content;margin-bottom:30px;">
                                        <label for="antiAgro">Anti agression à </label>
                                        <input type="number" id="antiAgro" minvalue="0" class="form-control" ng-model="currentConfig.DistanceMobsAggro" />
                                        <label for="antiAgro">cases</label>
                                    </div>

                                    <form oninput="output.value = Math.round(range.valueAsNumber ) + 'ms'" style="text-align: left;">
                                        <label for="vitesseBot">Vitesse du bot</label>
                                        <div class="range" style="width:360px;margin-bottom: 30px;">
                                            <input id="vitesseBot" name="range" type="range" min="0" max="6000">
                                            <div class="range-output">
                                                <output  class="output" name="output" for="range">
                                                    {{currentConfig.globalSpeed}}
                                                </output>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <label ng-show="bot.mode != 2 && bot.mode != 4" class="btn btn-success" style="width: 163px;" >
                                    Sélectionner un trajet
                                    <input type="file" class="custom-file-input" id="trajetFile">
                                </label>

                                <div style="display:inline-grid" ng-show="bot.mode == 2" id="infosTrajet" class="row">
                                    <label>Nom du trajet <i>{{bot.MovementTrajet.name}}</i></label>
                                    <label>Auteur du trajet <i>{{bot.MovementTrajet.autor}}</i></label>
                                    <label>Zone du trajet <i>{{bot.MovementTrajet.location}}</i></label>
                                    <label>Type de trajet <i>{{bot.MovementTrajet.type}}</i></label>
                                    <button type="button"  class="stopTrajet btn btn-danger">Arreter le trajet</button>
                                </div>

                                <div style="display:inline-grid" ng-show="bot.mode == 4" id="infosTrajet" class="row">
                                    <label>Nom du trajet <i>{{bot.LuaTrajet.name}}</i></label>
                                    <button type="button"  class="stopTrajet btn btn-danger">Arreter le trajet</button>
                                </div>
                            </div>
                        </div>

                        <!--INVENTAIRE-->
                        <div class="tab-pane fade" id="onglet-inventaire" role="tabpanel" aria-labelledby="Inventaire">
                            <div class="row">
                                <!--REGENERATION>-->
                                <div class="col" style="height:fit-content;">
                                    <h2>Régénération</h2>
                                    <div style="display:inline-flex">
                                        <label for="regenItem" style="margin-bottom: 33px;margin-right: 6px;">Objet de régénération: </label>
                                        <input type="text" id="regenItem" class="form-control" ng-model="itemRegen">
                                    </div>
                                </div>
                                <!--SUPPRESSION AUTO>-->
                                <div class="col-sm-6" id="zoneDeleteAuto">
                                    <h2>Suppression automatique</h2><!--RECHERCHE SUPPRESSION>-->
                                    <div style="display: grid; margin-left: 25%;">
                                        <div style="display:inline-flex;">
                                            <input  placeholder="Nom de l'objet" type="text" id="deleteItemSearch" class="form-control">
                                            <span  class="fas fa-plus-square"></span>
                                        </div>
                                    </div>     <!--LIST SUPPRESSION>-->
                                    <ul id="listItemDelete"></ul>     
                                    <!--BOUTTON SUPPRESSION>-->
                                    <div style="text-align:center;">
                                        <button id="resetDeleted" style="font-size:12px" class="btn btn-success mb-2">Remettre à zéro</button>
                                        <button id="copieToGroupe" style="font-size:12px" class="btn btn-success mb-2">Définir comme configuration de groupe</button>
                                    </div>
                                </div>
                                <!--INVENTAIRE>-->
                                <div class="inventaireContainer">
                                    <!--FILTRE INVENTAIRE>-->
                                    <h2>Inventaire</h2>
                                    <div id="podsContainer">
                                        Pods:
                                        <div class="progress" style="margin-bottom:5px;">
                                            <pods class="progress-bar  bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{bot.Inventaire.podsPercent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{bot.Inventaire.podsPercent}}%"><label style="width:180px;color:black">{{bot.Inventaire.podsPercent}}%</label></pods>
                                        </div>
                                    </div>
                                    <div class="filterInventaire">
                                        <a class="far fa-star"><span class="selected">Tout les objets</span></a>
                                        <a class="fas fa-shield-alt"><span>Equipements</span></a>
                                        <a class="fas fa-prescription-bottle"><span>Utilisables</span></a>
                                        <a class="fas fa-cannabis"><span>Ressources</span></a>

                                    </div>     <!--LISTE INVENTAIRE>-->
                                    <ul id="listItemInventaire">
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <!--Combat-->
                        <div class="tab-pane fade" id="onglet-combat" role="tabpanel" aria-labelledby="Combat">
                            <div id="firstContainerFight">
                                <div id="confGlobalFight">
                                    <h2>Configuration global</h2>
                                    <div class="form-group form-inline">
                                        <label for="regenPC">Régénération à partir de</label>
                                        <input type="number" class="form-control" id="regenPC" ng-model="currentConfig.percentRegen" placeholder="PC%" >
                                        <label for="regenPC">%</label>
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="nombrecombat">Nombre de combat par carte</label>
                                        <input type="number" class="form-control" id="nombrecombat" ng-model="currentConfig.AuBoutDeCombats" placeholder="" nb">
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="niveaumin">Combattre les groupes de monstre de niveau</label>
                                        <input type="number" class="form-control" id="niveaumin" ng-model="currentConfig.lvlmin" placeholder="" min">
                                        <label for="niveaumax">à</label>
                                        <input type="number" class="form-control" id="niveaumax" ng-model="currentConfig.lvlmax" placeholder="" max">
                                    </div>
                                    <div class="form-group form-inline">
                                        <label for="ordreMonstre">Combattre en premier les groupes de monstres</label>
                                        <select class="form-control" id="ordreMonstre">
                                            <option ng-selected="currentConfig.AttakOrder == 'aucun'" value="aucun">Aucune préférence</option>
                                            <option ng-selected="currentConfig.AttakOrder == 'haut'" value="haut">De plus haut niveau</option>
                                            <option ng-selected="currentConfig.AttakOrder == 'bas'" value="bas">De plus bas niveau</option>
                                        </select>
                                    </div>

                                    <form class="form-group form-inline" oninput="outputcombat.value = Math.round(range.valueAsNumber) + 'ms'" style="text-align: left;margin-bottom:36px">
                                        <label for="vitesseCombat">Vitesse du bot</label>
                                        <div class="range" id="rangevitessecombat" style="width: 310px;margin-left: 15px;">
                                            <input id="vitesseCombat" name="range" type="range" min="0" max="5000">
                                            <div class="range-output">
                                                <output  class="output" name="outputcombat" for="range">
                                                   {{currentConfig.speedCombat}}
                                                </output>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="form-group form-inline">
                                        <label>Mode spectateur</label>
                                        <input ng-model="currentConfig.BloqueSpectateur"  value="false" ng-false-value="true" type="checkbox" id="spectaOuvert" hidden />
                                        <label style="margin-left: 15px;" class="pure-toggle impossible" for="pure-toggle-2"><span class="fontawesome-ok"></span><span class="fontawesome-remove"></span></label>
                                    </div>

                                    <div class="form-group form-inline">
                                        <label>Groupe ouvert</label>
                                        <input ng-model="currentConfig.BloqueGroupe" value="false" ng-false-value="true" type="checkbox" id="groupOuvert" hidden />
                                        <label style="margin-left: 27px;" class="pure-toggle impossible" for="pure-toggle-2"><span class="fontawesome-ok"></span><span class="fontawesome-remove"></span></label>
                                    </div>

                                    <div class="form-group form-inline">
                                        <label for="combatAuto">Combat automatique</label>
                                        <select class="form-control" id="combatAuto">
                                            <option value="rien">Aucun</option>
                                            <option value="map">Sur la carte</option>
                                            <option value="zone">Dans la zone</option>
                                            <option value="aleatoire">Aleatoire</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group" id="divMonsterAD">
                                    <h2>Monstre interdit/obligatoire</h2>
                                    <div class="form-group form-inline" id="divsearchMonsterAD">
                                        <input type="text" class="form-control" id="searchMonsterAD" placeholder="monstres">
                                        <i id="addMonsterInterdit" class="far fa-plus-square"></i>
                                    </div>
                                    <ul id="listMonsterAD">
                                        <li ng-repeat="m in currentConfig.monstersDennied" class="liMonster">
                                            <div style="width:122px"><p>{{m}}</p></div>
                                            <label class="toggleButton">
                                                <input type="checkbox">
                                                <div>
                                                    <svg viewBox="0 0 44 44" style="width: 27px;top: -11px;">
                                                        <path d="M14,24 L21,31 L39.7428882,11.5937758 C35.2809627,6.53125861 30.0333333,4 24,4 C12.95,4 4,12.95 4,24 C4,35.05 12.95,44 24,44 C35.05,44 44,35.05 44,24 C44,19.3 42.5809627,15.1645919 39.7428882,11.5937758" transform="translate(-2.000000, -2.000000)"></path>
                                                    </svg>
                                                </div>
                                            </label>
                                            <i class="fas fa-window-close delmonsterInterdit"></i>
                                        </li>
                                        <li ng-repeat="m in currentConfig.monstersAllow" class="liMonster">
                                            <div style="width:122px"><p>{{m}}</p></div>
                                            <label class="toggleButton">
                                                <input type="checkbox" checked="checked">
                                                <div>
                                                    <svg viewBox="0 0 44 44" style="width: 27px;top: -11px;">
                                                        <path d="M14,24 L21,31 L39.7428882,11.5937758 C35.2809627,6.53125861 30.0333333,4 24,4 C12.95,4 4,12.95 4,24 C4,35.05 12.95,44 24,44 C35.05,44 44,35.05 44,24 C44,19.3 42.5809627,15.1645919 39.7428882,11.5937758" transform="translate(-2.000000, -2.000000)"></path>
                                                    </svg>
                                                </div>
                                            </label>
                                            <i class="fas fa-window-close delmonsterInterdit"></i>
                                        </li>
                                    </ul>

                                    <label  class="btn btn-success" style="width: 163px;height: 23px;margin-top: 45px;">
                                        <p>{{bot.config.IaName!=null&&bot.config.IaName!=""?bot.config.IaName.substr(bot.config.IaName.lastIndexOf("\\")+1).replace(".txt",""):"Charger une IA"}}</p>
                                        <input type="file" class="custom-file-input" id="iaFile">
                                    </label>
                                </div>


                            </div>
                        </div>

                        <!--FLOOD-->
                        <div class="tab-pane fade" id="onglet-flood" role="tabpanel" aria-labelledby="Flood">

                            <div id="divChat">
                                <h2>Chat</h2>
                                <div id="divCanalChat">

                                    <input canal="normal" type="checkbox" id="canalGeneral" />
                                    <i class="fas fa-globe"></i>
                                    <label for="canalGeneral">General</label>

                                    <input canal="mp" type="checkbox" id="canalMP" />
                                    <i class="fas fa-user-alt"></i>
                                    <label style="color:#00a1a2;" for="canalMP">Message Privé</label>

                                    <input type="checkbox" canal="debug" id="canalDebug" />
                                    <i class="fas fa-shield-alt"></i>
                                    <label style="color:red;" for="canalCombat">Debug (dev)</label>

                                    <input type="checkbox" canal="send" id="canalSend" />
                                    <i class="fas fa-share"></i>
                                    <label style="color:#4dca4d;" for="canalSend">Send (dev)</label>

                                    <input type="checkbox" canal="rcv" id="canalRcv" />
                                    <i class="fas fa-reply"></i>
                                    <label style="color:#ff8b9f;" for="canalRcv">Receive (dev)</label>


                                </div>
                                <div id="chatTextarea">
                                    <message ng-repeat="msg in bot.chatHandler.histoMsgs" class="{{msg.canal}}">
                                        {{msg.msg}}
                                    </message>

                                </div>
                            </div>

                            <div id="divAchatAuto">
                                <h2>Achat automatique</h2>
                                <div class="form-group form-inline">
                                    <label for="searchItemAchatAuto">Acheter l'objet</label>
                                    <input style="height:auto" type="text" class="form-control" id="searchItemAchatAuto">
                                    <label for="timeItemAchatAuto">au prix de</label>
                                    <input style="height:auto" type="number" class="form-control" id="timeItemAchatAuto">
                                    <label for="timeItemAchatAuto">kamas</label>
                                    <i id="addItemAchat" class="far fa-plus-square"></i>
                                </div>
                                <ul id="achatAutoList">
                                    <li ng-repeat="(item, kamas) in currentConfig.itemToExchange" class="liItemAchat">
                                        <div>
                                            <img src="image/items/{{item}}.png" /><p>{{kamas.Key}} à {{kamas.Value}} k/u</p>
                                        </div>
                                        <i itemId="{{item}}" onclick="deleteItemAchat(this)"  class="fas fa-window-close"></i>
                                    </li>
                                </ul>
                            </div>

                            <div id="divFlood">
                                <h2>Flood</h2>
                                <div class="form-group form-inline">
                                    <label for="phraseFldood">Message</label>
                                    <input style="height:auto"  ng-model="currentConfig.floodPhrase" class="form-control"  id="phraseFlood" />
                                </div>
                                <div class="form-group form-inline">
                                    <label for="activeFlood">Activer le flood</label>
                                    <input style="height:auto" ng-model="currentConfig.activeFlood" type="checkbox" id="activeFlood" />
                                    <label for="mpFlood">par message privé</label>
                                    <input ng-model="currentConfig.floodMp" type="checkbox" id="mpFlood" />
                                    <label for="timeFlood">tout les </label>
                                    <input style="height:auto" value="10000" class="form-control" type="number" id="timeFlood" />
                                    <label for="timeFlood">ms</label>
                                </div>
                                </div>
                        </div>

                        <!--Metier-->
                        <div class="tab-pane fade" id="onglet-metier" role="tabpanel" aria-labelledby="Métiers">
                            <div id="divRecolte">
                               
                              
                            </div>

                            <form class="form-group form-inline" oninput="outputcraftS.value = Math.round(range.valueAsNumber) " style="text-align: left;margin-bottom:45px;width: 100%;margin: auto; margin-bottom: 32px;">
                                <label for="craftParS">Nombre de craft par seconde</label>
                                <div class="range" id="rangecraftpars" style="width: 310px;margin-left: 15px;">
                                    <input id="craftParS" name="range" type="range" min="1" max="20">
                                    <div class="range-output">
                                        <output class="output" name="outputcraftS" for="range">
                                            {{currentConfig.NbCraftSeconde}}
                                        </output>
                                    </div>
                                </div>
                            </form>

                            <div class="form-group form-inline" style="width: 280px;margin: auto;">
                                <label style="margin-right:15px" for="recolteAuto">Recolte automatique</label>
                                <select class="form-control" id="recolteAuto" style="font-size:12px;height:auto">
                                    <option value="rien">Aucun</option>
                                    <option value="map">Sur la carte</option>
                                    <option value="zone">Dans la zone</option>
                                    <option value="aleatoire">Aleatoire</option>
                                </select>
                            </div>

                        </div>

                        <!--Statistiques-->
                        <div class="tab-pane fade" id="onglet-stats" role="tabpanel" aria-labelledby="Statistiques">
                            <div id="containerStats" style="width: 98%; margin:auto">
                                <canvas id="canvasStats"></canvas>
                            </div>

                            <div  style="margin-top: 15px;margin-left: 65px;display:flex;">
                                <div>
                                    <label style="margin-right:15px" id="nbCombatStats">Nombre de combat</label>
                                    <label style="margin-right:15px" id="tempsStats">Temps moyen</label>
                                </div>
                                <div>
                                    <label style="margin-right:15px" id="kamasStats">Kamas moyen</label>
                                    <label style="margin-right:15px" id="expStats">Experience moyenne</label>
                                </div>

                            </div>
                        </div>
                        <!--COMPTE-->
                        <div class="tab-pane fade" id="onglet-compte" role="tabpanel" aria-labelledby="Mon compte">
                            
                            <div id="modifAccountPanel">
                                <h2>Modifier un compte</h2>
                                <form>
                         
                                    <div class="form-group row">
                                        <label for="loginModAcc" class="col-sm-4 col-form-label">Login</label>
                                        <div class="col-sm-6">
                                            <input readonly type="text" class="form-control" id="loginModAcc" placeholder="Login">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="passModAcc" class="col-sm-4 col-form-label">Password</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" id="passModAcc" placeholder="Password" ng-model="currentConfig.passDuCompte">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="passBotModAcc" class="col-sm-4 col-form-label">Pass du bot</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="passBotModAcc" placeholder="Password"  ng-model="currentConfig.passBot">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="serveurModAcc" class="col-sm-4 col-form-label">Serveur</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="serveurModAcc">
                                               
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="numPersoModAcc" class="col-sm-6 col-form-label">Numero du personnage</label>
                                        <div style="padding-top: 14px;" class="col-sm-2">
                                            <input type="number" class="form-control" id="numPersoModAcc"  ng-model="currentConfig.numeroPerso" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="mitmModAcc" class="col-sm-6 col-form-label">Utiliser le client Dofus</label>
                                        <div style="padding-top: 14px;" class="col-sm-2">
                                            <input type="checkbox" class="form-control" id="mitmModAcc" ng-checked="currentConfig.mitm" />
                                        </div>
                                    </div>
                                    <div style="display: flex;">
                                        <button id="ModAccountBtn" style="width: 100%;" class="btn btn-success mb-2">Modifier le compte</button>
                                        <button id="SupprAccountBtn" style="width: 100%;" class="btn btn-danger mb-2">Supprimer le compte</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                        <!--PROXY-->
                        <div class="tab-pane fade" id="onglet-proxy" role="tabpanel" aria-labelledby="Poxy">
                            <div style="width: 352px;margin: auto;">
                               <p>Les proxys servent à cacher votre adresse ip, cela est valable uniquement pour le socket, donc sans Dofus d'ouvert</p>
                                <div class="form-group">
                                    <label for="ipProxy">Adresse IP</label>
                                    <input type="text" class="form-control" id="ipProxy" name="ipProxy" data-inputmask="'alias': 'ip'">
                                </div>

                                <div class="form-group">
                                    <label for="portProxy">Port</label>
                                    <input type="number" class="form-control" id="portProxy" name="portProxy">
                                </div>

                                <div class="form-group">
                                    <label for="loginProxy">login </label>
                                    <input type="text" class="form-control" id="loginProxy" name="loginProxy" >
                                </div>

                                <div class="form-group">
                                    <label for="passProxy">password </label>
                                    <input type="password" class="form-control" id="passProxy" name="passProxy">
                                </div>

                                <div class="form-group">
                                    <label for="sock5">Sock 5 </label>
                                    <input type="checkbox" class="form-control" id="sock5" name="sock5">
                                </div>
                    
                            </div>
                        </div>

                    </div>
                </div>

                <!--AJOUTER UN COMPTE-->
                <div id="addAccountPanel">
                    <h2>Ajouter un compte</h2>
                    <form>
                        <div class="form-group row">
                            <label for="loginNewAcc" class="col-sm-4 col-form-label">Login</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="loginNewAcc" placeholder="Login">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="passNewAcc" class="col-sm-4 col-form-label">Password</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="passNewAcc" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="passBotNewAcc" class="col-sm-4 col-form-label">Pass du bot</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="passBotNewAcc" placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="serveurNewAcc" class="col-sm-4 col-form-label">Serveur</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="serveurNewAcc">
                                    <option ng-repeat="s in serveurs" name="{{s.name}}" value="{{s.idServer}}">{{s.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="numPersoNewAcc" class="col-sm-6 col-form-label">Numero du personnage</label>
                            <div style="padding-top: 14px;" class="col-sm-2">
                                <input type="number" class="form-control" id="numPersoNewAcc" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="mitmNewAcc" class="col-sm-6 col-form-label">Utiliser le client Dofus</label>
                            <div style="padding-top: 14px;" class="col-sm-2">
                                <input type="checkbox" class="form-control" id="mitmNewAcc" />
                            </div>
                        </div>


                        <button id="addAccountBtn" style="width: 100%;" class="btn btn-success mb-2">Ajouter le compte</button>
                    </form>
                </div>
                
                <!--POPUP GROUP-->
                <div id="groupContainer" class="ContainerPopup">
                    <div id="groupManager">
                        <div>
                            <i class="far fa-window-close"> </i>
                            <h2>Gestion du groupe</h2>
                        </div>
                    </div>
                </div>

                <!--POPUP FAMI-->
                <div id="famiContainer" class="ContainerPopup">
                    <div id="famiManager">
                        <div>
                            <i class="far fa-window-close"> </i>
                            <h2 id="famiName"></h2>
                            <img id="famiImg" />
                            <label>Stats à augmenter</label>
                            <div id="famiStats">

                            </div>
                            <div id="infosFami">
                                <label id="pdvFami"></label>
                                <label id="etatFami"></label>
                                <label id="eatFami"></label>
                            </div>
                        </div>
                    </div>
                </div>


                <!--POPUP Licence-->
                <div id="licenceContainer" class="ContainerPopup">
                    <div id="licenceManager">
                        <div style="margin: auto;">
                            <h2 style="padding: 19px;">La licence n'a pas pu être vérifiée</h2>
                            <p style="color:#fb8888;"></p>
                            <div style="margin-bottom:15px;">
                                <label for="licence">Votre clef :</label>
                                <input type="text" id="licence" />
                                <button style="height: 15px;line-height: inherit;" id="setLicence" class="btn btn-infos mb-2">Confirmer la licence</button>
                            </div>
                           
                            <div>
                                <a target="_blank"  style="margin-right: 135px;color: orange;" href="http://netfu.net/checking/reset.php">Délier ma clef de mon ancienne machine</a>
                                <a target="_blank"  style="color: orange;" href="http://netfu.net/checking/">Acheter une clef</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--POPUP Config-->
                <div id="configContainer" class="ContainerPopup">
                    <div class="exp" id="configManager">
                        <div>
                            <i class="far fa-window-close"> </i>
                            <h3 style="margin-top: 10px;">Moderateur</h3>
                            <div class="checkbox">
                                <form>
                                    <div>
                                        <input type="checkbox" id="checkModo"  name="checkModo"  value="" />
                                        <label style="color:black"  for="checkModo" >
                                            <span></span>Déconnexion si ban utilisateur
                                        </label>
                                    </div>
                                </form>
                            </div>
                                <div class="form-group row">
                                    <label style="color:black" for="recoModo" class="col-sm-6 col-form-label">Reconnexion en heure au bout de: </label>
                                    <div  class="col-sm-2">
                                        <input type="number" class="form-control" value="5" id="recoModo" />
                                    </div>
                                </div>
                                <div style="margin-top: 27px;margin-bottom: 15px;">
                                    <h3 style="margin-bottom: 15px;">Notification mobile</h3>
                                    <p style="font-size: 14px;">PushFleet est une application sur smartphone pour recevoir des notifications, elle vous permet d'être avertie par telephone de certaine action</p>
                                    <p style="font-size: 14px;">L'application est disponnible sur IOS et android, une fois telecharger, vous avez un token (une clef) utilisateur a enter ici</p>
                                    <div class="form-group row">
                                        <label style="color:black" for="tokenPushFleet" class="col-sm-4 col-form-label">Mon token PushFleet: </label>
                                        <div  class="col-sm-4">
                                            <input type="text" class="form-control" id="tokenPushFleet" />
                                        </div>
                                    </div>
                                    <div class="checkbox" style="width:602px;margin: auto;padding-bottom:6px;">
                                        <form>
                                            <div>
                                                <input type="checkbox" id="notifMP" name="notifMP"  value="" />
                                                <label style="color:black" for="notifMP" >
                                                    <span ></span>Recevoir une notification lors d'un mp
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="checkbox" style="width:571px;margin: auto;padding-bottom:6px;">
                                        <form>
                                            <div>
                                                <input type="checkbox" id="notifLevelUP"  name="notifLevelUP" value="" />
                                                <label style="color:black" for="notifLevelUP" >
                                                    <span></span>Recevoir une notification lors d'un levelUP
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="checkbox" style="width:441px;margin: auto;padding-bottom:6px;">
                                        <form>
                                            <div>
                                                <input type="checkbox" id="notifBank" name="notifBank"  value="" />
                                                <label style="color:black" for="notifBank" >
                                                    <span></span>Recevoir une notification lors d'un vidage en banque
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
           </div>
      


        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="https://code.angularjs.org/1.2.0/angular.min.js"></script>
        <script type="text/javascript" src="chart.min.js"></script>
        <script type="text/javascript" src="ui.js"></script>
        <script type="text/javascript" src="map.js"></script>
        <script type="text/javascript" src="rangeslider.js"></script>
        <script type="text/javascript" src="jquery-ui.min.js"></script>
        <script type="text/javascript" src="bootstrap/bootstrap.js"></script>


</body>

</html>
